body {
    overflow-x: hidden;
}

/* top navigation */

.navbar {
	margin-bottom: 0px;
	box-shadow: 0px 3px 3px #f2f2f2;
	z-index: 10000;
}

.navbar-brand {
	margin-top: -10px;
	position: absolute;
}

.navbar-right {
	position: absolute;
    right: 3%;
	margin-top: 14px;
}

/* sidebar */

#sidebar-wrapper {
	top: 20px !important;
	overflow-x: hidden;
}

.sidebar-nav li {
	padding: 3px;
}

.sidebar-nav li:hover {
	background-color: #e6e6e6;
}

hr {
	border-color: #e6e6e6;
}

#sidebar-wrapper {
    border: 1px solid #e6e6e6;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    height: 110%;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 10;
    width: 0;
    height: 100%;
    position: absolute;
    margin-left: -250px;
    overflow-y: auto;
    background: #f8f8f8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#wrapper.toggled #sidebar-wrapper {
    height: 110%;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #337AB7;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.container {
   position: absolute;
   width: 100%;
}

.col-sm-4 {
    background-color: #337AB7;
    margin: 5px;
    height: 200px;
    width: 31.7%;
    font-size: 15.5px;
}

.figures {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    color: white;
}

.figures b {
    font-size: 25px;
}


table {
    color: white;
}

h4 {
    font-weight: bold;
    display: inline-block;
}

h1 {
    font-size: 30px;
}

.week {
    float: right;
    padding-right: 3%;
    display:inline-block;
}

#pages {
    background-color: #337AB7;
    height: 60px;
}

#pages:hover {
    background-color: #21557f;
}

.rounded-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.rounded-link i {
    font-size: 25px;
    padding-right: 30px;
}

.glyphicon-info-sign {
    font-size: 15px;
    color: #337AB7;
}

.glyphicon-info-sign:hover {
    color: #21557f;
}

#black-table {
    color: #333;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border: none;
    border-bottom: 5px solid #337AB7;
    }

    .nav-tabs > li > a:hover {
        border: none;
        border-bottom: 5px solid #337AB7;
        background: transparent;
    }

    .sidebar-nav a:hover {
        text-decoration: none;
    }

    .sidebar-nav a:focus {
        text-decoration: none;
    }

    #sidebar-wrapper {
        top: 0 !important;
    }

    .sidebar-nav {
        top: 10px;
    }

    .collapse a {
        margin-left: 20px;
    }

    .sidebar-nav li {
        margin-left: -20px;
    }

    .collapse a:hover {
        background-color: #d9d9d9 !important;
    }

    .collapse li:hover {
        background-color: #d9d9d9 !important;
    }

    .actions {
        width: 200px;
        margin: 5px;
    }

    .well-sm {
        padding-bottom: -10px;
    }

 #stats-table {
    background: none;
 }

 .active-sidebar {
    background-color: #337AB7;
 }

 .active-sidebar a {
    color: white !important;
 }

 .active-sidebar:hover {
    background-color: #337AB7 !important;
 }

  .active-sidebar a:hover {
    background-color: #337AB7 !important;
 }

 #inputs {
    background-color: transparent;
 }

 #dashboard-column-3 {
    background-color: #337AB7;
    height: 250px;
    font-size: 15.5px;
 }

 #dashboard-column-6 {
    background-color: #337AB7;
    width: 47.9%;
    margin: 5px;
    height:250px;
    font-size: 15.5px;
 }

.split-homepage {
    margin-bottom: 0px;
}

.tab-content {
    position: relative;
}

.search-form {
    width: 300px;
}

.well p {
    position: relative;
    top: 10px;
}

.well button {
    position: relative;
    top: 10px;
}

.collapse a {
    padding-left: 15px;
}

.panel {
    background-color: #f8f8f8;
    border: none;
}

 .collapse .active-sidebar:hover {
    background-color: #337AB7 !important;
 }

.collapse .active-sidebar a:hover {
    background-color: #337AB7 !important;
 }

.active-filter a {
    border-bottom: 2px solid #337AB7 !important;
    color: #333;
}

#filter-tabs li a:hover {
   border-bottom: 2px solid #337AB7 !important;
   color: #333;
}

#filter-tabs li {
    padding-right: 10px;
}

.search-form {
    display: inline-block;
}

#select-page {
    width: 70px;
    display: inline-block;
    float: right;
    margin-left: 13px;
}

.select-label {
    float: right;
    display: inline-block;
    padding-top: 6px;
}

#survey-search {
    float: right;
}

#select-by {
    width: 40%;
    display: inline-block;
}

.day {
    color: black;
}

.switch {
    color: black;
}

.today {
    color: black;
}

.hour {
    color: black;
}

.minute {
    color: black;
}

.dow {
    color: black;
}

.glyphicon-arrow-right {
    color: black;
}

.glyphicon-arrow-left {
    color: black;
}

.list-actions {
    float: right;
}